/Project_1/data
/Project_1/.vscode
/Project_2/.vscode
/Project_2/dados
/Project_2/Projeto2.html
/Project_Classification/.vscode
/Project_Classification/datasets
/Project_Classification/projeto_final_data_science.html
/Project_Classification/projeto-classificao.pdf